body {
    margin: 1em;
    background-color: #E5E1DA;
    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    color: #2973B2;
    width: auto;
    height: auto;
}

nav { 
    background-color: #CDC7BE;
    display: flex;
    justify-content: space-between;
    border: solid 0.5em #D9EAFD;
    padding: 0 2em 0 2em;
}

.sect {
    outline: thick double #FBF9F1;
    margin: 2em .5em 0;
    padding: 1em;
}

footer {
    display: flex;
    justify-content:center;
    margin: 3em 0 0 0; 
    padding: 1em;
    background-color:#CDC7BE;
    font-size: larger;
}

.splash {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: #213555;
  }

.headshot {
    border-radius: 75%;
    border: solid #D9EAFD;
    height: 10em;
    width: 10em;
}

.address {
    font-family: "Bakersville SC", serif;
    font-weight: 400;
    font-style: normal;
    border-style: groove;
    column-rule-style: groove;
    border-width: 1em;
    border-color: #D9EAFD;
    text-align: center;
}

.tagline {
    font-family: "Geist", serif;
    font-weight: 400;
    font-style: normal;
    border-style: groove;
    column-rule-style: groove;
    border-width: 1em;
    border-color: #D9EAFD;
    text-align: center;
}

hr {
    border-style: inset solid outset solid;
    border-width: .25em;
    border-radius: 75%;
    border-color: #D9EAFD;
}

h2 {

    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: #213555;
}

.education {
    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

ul {
    list-style: circle;
}

dl {
    display: grid;
}

dt {
    padding: 1em 0 0 0;
}

a:link, a:visited {
    color: #2973B2 ;
    text-decoration: none;
}

a:hover, a:active {
    color: #D9EAFD;
}

.three-col {
    display: grid;
    grid-auto-columns: repeat(3, 1fr);
}

.card {
    display: flex;
    box-shadow: 0 16px 32px 0 #6C737E;
    padding: 1em;
    margin: 1em;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    outline: thick double #FBF9F1;
    border-radius: 1em;
    background-color: #CDC7BE;
    font-size: larger;
}

.card:hover {
    outline: thick dotted ;
    transform: scale(1.2);
    position: relative;
    transition: all 0.5s ease-in-out;     
    cursor: zoom-in;
    
}

#one {
    transform-origin: left;
}
#two {
    transform-origin: top;
}

#three {
    transform-origin: right;
}

.one-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    outline: thick solid #FBF9F1 ;
    margin: 1em;
}

.submit {
    box-shadow: 5px 5px 5px 0 #6C737E;
    outline: thin solid #FBF9F1;

}

.submit:hover {
    transform: scale(1.2);
}

.formed {
    background-color: #CDC7BE;
    padding: 1em 0 1em 0;
}

.continue:hover {
    background-color: #6C737E;
    padding: 1em 0 1em 0;
    transition: all 0.5s ease-in-out;
}

.thanks {
    display: flex;
    justify-content: center;
}
